<footer id="contact" class="footer">

    <div class="container">

        <div class="footer-content">

            <div>

               <div class="footer-logo">

    <img
        src="{{ url_for('static', filename='images/hawkeye-horizontal.png') }}"
        alt="HawkEye">

</div>

                <p>

                    Intelligent Web Security Assessment platform built for
                    developers, security professionals and organizations.

                </p>

            </div>

            <div class="footer-links">

                <a href="#features">Features</a>

                <a href="#how-it-works">How it Works</a>

                <a href="#">Privacy</a>

                <a href="#">Terms</a>

            </div>

        </div>

        <div class="footer-bottom">

            <span>

                © 2026 HawkEye. All rights reserved.

            </span>

        </div>

    </div>

</footer>